@font-face {
  font-family: "CustomFont";
  src: url("./fonts/IntelClear_Lt.ttf");
}
@font-face {
  font-family: "font";
  src: url("./fonts/IntelClear_Rg.ttf");
}
@font-face {
  font-family: "font2";
  src: url("./fonts/IntelClear_Lt.ttf");
}
@font-face {
  font-family: "italics";
  src: url("./fonts/IntelClear_LtIt.ttf");
}
@font-face {
  font-family: "bolds";
  src: url("./fonts/IntelClear_Bd.ttf");
}
body {
  margin: 0;
  /* box-sizing: border-box; */
  overflow-x: hidden;
  height: 3200px;
}

.fix {
  position: relative;
  z-index: 1000;
  border-radius: 30px;
  background-color: white;
  color: #0054ae;
  position: fixed;
  padding-right: 38px;
  padding-bottom: 15px;
  font-size: medium;
  bottom: 25px;
  left: 488px;
  height: 35px;
  opacity: 0.9;
  box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  cursor: pointer;
}
.fix:hover {
  opacity: 1;
}
.fix ul {
  display: flex;
  gap: 10px;
}
.fix li {
  list-style-type: none;
}
main {
  overflow: hidden;
  width: 100%;
}
nav {
  font-family: "font";
  width: 100%;
  height: 70px;
}
.navbar-brand {
  width: 70px;
  height: 70px;
  background-color: #0068b5;
}
.navbar-brand img {
  width: 55px;
}
.nav-con {
  height: 70px;
}
.nav-link {
  color: #0076d6 !important;
}
.fs {
  font-size: 14px;
  letter-spacing: 1px;
}
.langc {
  font-size: 10px !important;
  letter-spacing: 0px;
}
.clr-search {
  width: 291px;
  height: 70px;
  background-color: #f3f3f3;
}

.searchbar::placeholder {
  font-family: "font";
  font-weight: 100px;
  color: rgb(0, 0, 0) !important;
}
.texture-bg {
  width: 55%;
  z-index: -1;
  /* opacity: 0.5;  */
}
.clr {
  top: 71px;
  right: 0;
  width: 40%;
  height: 950px;
  background-color: #f2f2f2;
  background: linear-gradient(to bottom, #f3f3f3, #dadada);
  z-index: -1;
}
.heading {
  font-size: 65px;
  font-family: "font2";
  font-weight: lighter;
  color: #262626;
  z-index: 2;
}
.caption-ai {
  top: 7em;
}
.lap {
  width: 649px;
  height: 621px;
}
.gal {
  /* position: relative; */
  bottom: 300px;
  /* margin-left: 88px; */
  /* justify-content: center; */
}
.im1 {
  cursor: pointer;
  transition: transform 0.5s ease;
}
.im1:hover {
  transform: scale(1.05);
  filter: brightness(0.5);
}
.im2 {
  margin-left: 25px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.im2:hover {
  transform: scale(1.05);
  filter: brightness(0.5);
}
.im3 {
  margin-left: 25px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.im3:hover {
  transform: scale(1.05);
  filter: brightness(0.5);
}
/* Custom CSS to adjust the size of the carousel */
#carouselExampleAutoplaying {
  width: 800px;
  height: 500px;
  margin: auto;
}

#carouselExampleAutoplaying .carousel-inner {
  width: 100%;
  height: 100%;
}

#carouselExampleAutoplaying .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#carouselExampleAutoplaying {
  display: none;
}
.clr2 {
  width: 60%;
  height: 110%;
  left: 0px;
  top: 1020px;
  /* background-color: #1e0303; */
  background: linear-gradient(to top, #ffffffc9, #dadada);
  z-index: -1;
}
.right-cap p,
.lside p {
  font-size: small;
  font-family: "font";
  font-weight: 700;
  color: #262626;
  letter-spacing: 0.8px;
}
.right-cap h2,
h5,
.lside h2 {
  font-family: "CustomFont";
  font-weight: 100;
  font-size: 50px;
  color: #262626;
}
.right-cap h5,
.lside h5 {
  font-size: medium;
  font-weight: 600;
  line-height: 25px;
}
.explore,
.explore2 {
  width: 189px;
  height: 60px;
  color: #043994;
  background-color: white;
  border-color: #0076d6;
  border-bottom-color: #30a2ff;
  font-size: large;
  font-family: "font";
  cursor: pointer;
}
.explore:hover {
  color: #021638;
  border-color: #004aca;
}

.ldev {
  width: 40%;
  height: 280px;
}
.ldev p {
  font-size: small;
  font-family: "font";
  font-weight: 700;
  color: #262626;
  letter-spacing: 0.8px;
}
.ldev h2 {
  font-family: "CustomFont";
  font-weight: 100;
  font-size: 50px;
  margin-top: -10px;
  color: #262626;
}
.ldev h5 {
  font-size: medium;
  font-weight: 600;
  line-height: 25px;
}
.rdev-p {
  font-family: "italics";
  font-weight: 600;
}
.learnmore {
  width: 130px;
  height: 65px;
  bottom: 30px;
  color: #043994;
  background-color: white;
  border-color: #0076d6;
  border-bottom-color: #30a2ff;
  font-size: larger;
  font-family: "font";
  cursor: pointer;
}
.tools {
  width: 97%;
  height: 325px;
  margin: 20px;
  display: flex;
}
.lefttool {
  background-color: #434343;
  color: white;
  width: 400.28px;
  padding: 2.5rem 1.5rem;
}
.lefttool h2 {
  font-family: "bolds";
  font-size: clamp(1.5rem, 1.3239rem + 0.7512vi, 2rem);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  margin: 0;
  padding-top: 25px;
}
.exp {
  width: 140px;
  height: 60px;
  bottom: 30px;
  color: white;
  background-color: #434343;
  border-color: white;
  border-bottom-color: white;
  font-size: larger;
  font-family: "font";
  cursor: pointer;
}

.grid-item {
  background-color: #262626;
  padding-top: 50px;
  text-align: center;
  margin: 5px;
  font-size: small;
  font-family: "font";
  color: white;
  cursor: pointer;
}

.grid-item img {
  width: 27px;
  height: 27px;
}

.grid-item p {
  margin-top: 2px;
}
.clr3::after {
  display: block;
  content: " ";
  clear: both;
  position: absolute;
  left: 60%;
  width: 40%;
  margin-top: -70px;
  height: 100px;
  z-index: -1;
  background: linear-gradient(to bottom, #ffffff, #cccccc);
}
.space {
  width: 100%;
  height: 0px;
}
.foot-clr {
  background-color: #e7e7e7;
}
.footerlink {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-family: "font";
  font-weight: 400;
}

.footerlink:hover {
  text-decoration: underline;
}
.footerpara {
  font-family: "font";
  font-size: small;
}
.rside img {
  width: 625px;
  height: 558px;
}

@media (max-width: 475px) {
  .rside img {
    width: 100%;
    height: auto;
  }
  .lap {
    width: 470px;
    height: auto;
  }
}
@media (max-width: 385px) {
  .lap {
    width: 400px;
    height: auto;
  }
}
@media (max-width: 640px) {
  .lefttool {
    width: 90%;
  }
  .rside img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .clr3::after {
    height: 500px;
  }
}
@media (max-width: 995px) {
  #carouselExampleAutoplaying {
    display: block;
    bottom: 300px;
  }

  .gal {
    display: none;
  }
  .lefttool {
    width: 100px;
  }
  .space {
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 1124px) {
  .lefttool {
    width: 90%;
  }
  .fix{
    display: none;
  }
}
@media (max-width: 1280px) {
  .lefttool {
    width: 90%;
  }

}
@media (max-width: 1536px) {
}
